.button-all {
    border: none;
    cursor: pointer;
    background-color: var(--color-sunset-orange);
    color: var(--color-while);
    border-radius: var(--boder-radius-to-all);
}

.menu-button {
    padding: 10px 20px;
    font-size: var(--font-size-smaller);
    border-radius: var(--boder-radius-communication);
}

.hero-section-button {
    padding: 15.5px 18.4px;
    font-size: var(--font-size-smaller);
    letter-spacing: 0.2px;
    font-weight: var(--font-weight-bold);
}

.quality-section-button {
    height: 48px;
    font-size: var(--font-size-smaller);
    font-weight: 600;
    width: 100%;
}

.contact-section-button {
    margin-top: 20px;
    padding: 11px 20.5px;
    font-size: var(--font-size-small);
    font-weight: 600;
}

@media (min-width: 768px) {
    .quality-section-button {
        padding: 12px 58px;
        width: 160px;
    }

    .contact-section-button {
        margin-top: 30px;
        padding: 25px 40px;
        font-size: var(--font-size-largest);
    }
}



