.process-management-section-cardbox {
    display: grid;
    row-gap: 80px;
    place-items: center;
    margin-top: 40px;
}

.process-management-section-card {
    text-align: center;
    width: 316px;
}

.process-management-section-card-heading {
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-largest);
    color: var(--color-black);
    margin-top: 10px;
}

.process-management-section-card-subheading {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-xsmall);
    color: var(--color-black);
    margin-top: 10px;
    line-height: 28px;
}

.references-section-list-content {
    padding: 40px 0;
    display: grid;
    place-items: center;
}

.references-section-list-contentbox {
    margin-top: 24px;
    width: 170px;
    height: 96px;
    border-radius: 16px;
    background-color: var(--color-while);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .process-management-section-cardbox {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 90px;
    }

    .references-section-list-content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        gap: 24px;
    }

    .references-section-list-contentbox {
        max-width: 170px;
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .process-management-section-cardbox {
        grid-template-columns: repeat(3, 1fr);
    }

    .references-section-list-content {
        padding: 60px 125px;
    }

    .references-section-list-contentbox {
        width: 170px;
    }
}