/* start-test-management-section */
.test-management-section-lists-content-arrow {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .test-management-section-lists-content-arrow {
        margin: 0;
        width: 32px;
        height: 32px;
        transform: rotate(-90deg);
    }
}
/* end-test-management-section */

/* start-contact-section */
@media (min-width: 768px) {
    .contact-section-icon {
        width: 120px;
        height: 120px;
    }
}
/* end-contact-section */