.section-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--boder-radius-to-all);
}

@media (min-width: 768px) {
    .quality-section-imagebox {
        order: 1;
    }
}

.analysis-section-imagebox {
    order: -1;
}