/* mobile-version */
.contact-section {
    padding: 90px 20px 82px 20px;
    text-align: center;
}

.contact-section-heading {
    margin-top: 20px;
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bolder);
    color: var( --color-black);
}

.contact-section-subheading {
    margin-top: 12px;
    font-size: var(--font-size-smaller);
    line-height: 25px;
    font-weight: 500;
    color: var( --color-black);
}

/* tablet-version */
@media (min-width: 768px) {
    .contact-section {
        padding: 160px 0;
        text-align: center;
    }

    .contact-section-heading {
        margin-top: 10px;
        font-size: var( --font-size-xlarge);
    }

    .contact-section-subheading {
        margin-top: 20px;
        font-size: var(--font-size-xsmall);
    }
}