/* mobile-version */
.hero-section {
    padding: 62px 0 84px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-section-heading {
    font-size: var(--font-size-large);
    line-height: 57.5px;
    font-weight: var(--font-weight-bolder);
    color: var(--color-black);
}

.hero-section-subheading {
    margin-top: 30px;
    font-size: var(--font-size-smallest);
    line-height: 23px;
    font-weight: var(--font-weight-normal);
    color: var(--color-black);
}

.hero-section-inputbox {
    width: 100%;
    padding: 5px;
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--boder-radius-to-all);
    background-color: var(--color-while);
}

.hero-section-input {
    border: none;
    outline: none;
    margin-left: 15px;
}

/* tablet-version */
@media (min-width: 768px) {
    .hero-section {
        padding: 96px 0 127px 0;
        width: 665px;
        text-align: left;
    }

    .hero-section-heading {
        font-size: var(--font-size-xxlarge);
        line-height: 73.5px;
    }

    .hero-section-subheading {
        font-size: var(--font-size-small);
        line-height: 32px;
        margin-top: 20px;
    }

    .hero-section-inputbox {
        margin-top: 20px;
        max-width: 512px;
    }
}

/* desktop-version */
@media (min-width: 1025px) {
    .hero-section {
        padding: 135px 0 148px 0;
    }

    .hero-section-heading {
        font-size: var(--font-size-xxxlarge);
        line-height: 82px;
    }

    .hero-section-subheading {
        font-size: var(--font-size-medium);
        line-height: 36px;
        margin-top: 20px;
    }

    .hero-section-inputbox {
        margin-top: 50px;
    }
}