/* mobile-version */
.process-management-section {
    text-align: center;
    padding: 60px 0 90px 0;
}

.process-management-section-heading {
    font-size: var(--font-size-largest);
    font-weight: var(--font-weight-bolder);
    color: var(--color-black);
}

.process-management-section-subheading {
    font-size: var(--font-size-smallest);
    line-height: 22px;
    letter-spacing: 0.2px;
    margin: 15px 0 40px 0;
    font-weight: var(--font-weight-normal);
    color: var(--color-black);
}


/* tablet-version */
@media (min-width: 768px) {
    .process-management-section {
        padding: 120px 0 140px 0;
    }

    .process-management-section-contentbox {}

    .process-management-section-heading {
        font-size: var(--font-size-larger);
    }

    .process-management-section-subheading {
        margin: 30px 0 90px 0;
        font-size: var(--font-size-largest);
        line-height: 39.5px;
    }

}

/* desktop-version */
@media (min-width: 1025px) {
    .process-management-section {
        /* padding: 120px 144px 140px 144px; */
    }

    .process-management-section-contentbox {
        padding: 0 80px;
    }
}