/* mobile-version */
.process-management-section {
    text-align: center;
}

.process-management-section-contentbox {
    margin-bottom: 40px;
    padding: 0 20px;
}

.process-management-section-heading {
    margin-top: 60px;
    font-size: var(--font-size-largest);
    font-weight: var(--font-weight-bolder);
    color: var(--color-black);
}

.process-management-section-subheading {
    margin-top: 15px;
    font-size: var(--font-size-smallest);
    line-height: 1.375rem;
    letter-spacing: 0.2px;
    font-weight: var(--font-weight-normal);
    color: var(--color-black);
}


/* tablet-version */
@media (min-width: 768px) {
    .process-management-section-contentbox {
        margin-bottom: 90px;
    }

    .process-management-section-heading {
        margin-top: 120px;
        font-size: var(--font-size-larger);
    }

    .process-management-section-subheading {
        margin-top: 30px;
        font-size: var(--font-size-largest);
        line-height: 2.46875rem;
    }

}

/* desktop-version */
@media (min-width: 1025px) {
    .process-management-section-contentbox {
        padding: 0 223px;
    }

}