/* mobile-version */
.references-section {
    margin-top: 80px;
    text-align: center;
    background: rgba(244, 245, 247, 1);
    max-width: 100%;

}

.references-section-contentbox {
    padding: 40px 21px 0 21px;
}

.references-section-heading {
    font-size: 2.25rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

.references-section-subheading {
    margin-top: 14px;
    font-size: 0.875rem;
    font-weight: var(--font-weight-nomaler);
    color: rgba(24, 25, 31, 1);
}

.references-section-list-content {
    padding: 40px 0;
    display: grid;
    place-items: center;
}

.references-section-list-contentbox {
    margin-top: 24px;
    width: 170px;
    height: 96px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* tablet-version */
@media (min-width: 768px) {
    .references-section {
        margin-top: 160px;
    }

    .references-section-contentbox {
        padding-top: 45px;
    }

    .references-section-list-contentbox {
        max-width: 170px;
        width: 100%;
    }

    .references-section-heading {
        font-size: 3rem;
    }

    .references-section-subheading {
        font-size: 1.125rem;

    }

    .references-section-list-content {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
}

/* desktop-version */
@media (min-width: 1025px) {
    .references-section-contentbox {
        padding-top: 59px;
    }
    .references-section-list-contentbox {
        width: 170px;
    }
}