/* mobile-version */
.references-section {
    margin-top: 80px;
    text-align: center;
    background: var(--color-athens-gray);
    max-width: 100%;

}

.references-section-contentbox {
    padding: 40px 21px 0 21px;
}

.references-section-heading {
    font-size: var(--font-size-larger);
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
}

.references-section-subheading {
    margin-top: 14px;
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-nomaler);
    color: var(--color-woodsmoke);
}

/* tablet-version */
@media (min-width: 768px) {
    .references-section {
        margin-top: 160px;
    }

    .references-section-contentbox {
        padding-top: 45px;
    }

    .references-section-heading {
        font-size: var( --font-size-xlarge);
    }

    .references-section-subheading {
        font-size: var(--font-size-xsmall);

    }
}

/* desktop-version */
@media (min-width: 1025px) {
    .references-section-contentbox {
        padding-top: 59px;
    }
}