/* mobile-version */
.test-management-section {
    margin-top: 90px;
    text-align: center;
    background-color: var(--color-sunset-orange);
}

.test-management-section-contentbox {
    padding-top: 50px;
}

.test-management-section-heading {
    font-size: var(--font-size-larger);
    line-height: 47px;
    font-weight: var(--font-weight-bolder);
    color: var(--color-while);
}

.test-management-section-subheading {
    margin-top: 10px;
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-normal);
    color: var(--color-while);
}

.test-management-section-lists-content {
    display: grid;
    place-items: center;
    padding: 55px;
}

.test-management-section-lists-content-heading {
    margin-bottom: 40px;
    font-size: var(--font-size-xsmall);
    line-height: 24.59px;
    font-weight: var(--font-weight-bold);
    color: var(--color-while);
}

/* tablet-version */
@media (min-width: 768px) {
    .test-management-section {
        margin-top: 140px;
    }

    .test-management-section-contentbox {
        padding-top: 38px;
    }

    .test-management-section-heading {
        font-size: var(--font-size-xlarge);
    }

    .test-management-section-subheading {
        margin-top: 25px;
        font-size: var(--font-size-xsmall);
    }

    .test-management-section-lists-content {
        padding: 78px 0;
        grid-template-columns: repeat(7, 1fr);
    }

    .test-management-section-lists-content-heading {
        width: 150px;
        margin: 0px;
        font-size: var(--font-size-smaller);
        text-align: left;
    }
}

/* desktop-version */
@media (min-width: 1025px) {
    .test-management-section-contentbox {
        padding-top: 68px;
    }
}