/* mobile-version */
.test-management-section {
    text-align: center;
    background-color: var(--color-sunset-orange);
    padding: 50px 20px 84px 20px;
}

.test-management-section-contentbox {}

.test-management-section-heading {
    font-size: var(--font-size-larger);
    line-height: 47px;
    font-weight: var(--font-weight-bolder);
    color: var(--color-while);
}

.test-management-section-subheading {
    margin: 10px 0 55px 0;
    font-size: var(--font-size-smaller);
    font-weight: var(--font-weight-normal);
    color: var(--color-while);
}

.test-management-section-lists-content {
    padding: 0 76px;
    display: grid;
    place-items: center;

}

.test-management-section-lists-content-heading {

    font-size: var(--font-size-xsmall);
    line-height: 24.59px;
    font-weight: var(--font-weight-bold);
    color: var(--color-while);
}

/* tablet-version */
@media (min-width: 768px) {
    .test-management-section {
        padding: 50px 40px;
    }

    .test-management-section-heading {
        font-size: var(--font-size-xlarge);
    }

    .test-management-section-subheading {
        margin-top: 30px;
        font-size: var(--font-size-xsmall);
    }

    .test-management-section-lists-content {
        grid-template-columns: repeat(7, 1fr);
        padding: 0;
    }

    .test-management-section-lists-content-heading {
        width: 150px;
        margin: 0px;
        font-size: var(--font-size-smaller);
        text-align: left;
    }
}

/* desktop-version */
@media (min-width: 1025px) {
    .test-management-section {
        padding: 68px 176px;
    }
}