:root {
    --color-primary: rgba(0, 0, 0, 1);
    --color-second: rgba(255, 255, 255, 1);
    --color-text: rgba(128, 128, 128, 1);
    --color-btn: rgba(248, 70, 70, 1);
    --color-heading-quality-analysis: rgba(46, 46, 46, 1);

    --boder-radius-to-all: 8px;
    --boder-radius-communication: 5px;

    --font-weight-normal: 400;
    --font-weight-nomaler: 500;
    --font-weight-bold: 700;
    --font-weight-bolder: 800;
    --font-style-default: normal;
}