footer {
    width: 1440px;
    height: auto;
    display: flex;
    margin-top: 100px;
}
.footer-left {
    margin-left: 130px;
}
.footer-left-logobox {
    display: flex;
    align-items: center;
}
.footer-left-logotext {
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    color: var( --color-primary);
}
.footer-left-text {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    color: var(--color-text);
    width: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.footer-left-list-contact {
    display: flex;
}
.footer-left-contact {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-text);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    margin-right: 15px;
}
.footer-left-contact:hover {
    border: 1px solid var( --color-second);
    color: var(--color-second);
}
.footer-right {
    margin-left: 300px;
    width: 754px;
    height: 200px;
    display: flex;
    justify-content: center;
}
.footer-right-menu {
    margin: 0 40px;
}
.footer-right-menu-header {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: var(--size-medium);
}
.footer-right-menu-item {
    font-weight: var(--font-weight-normal);
    font-size: 14px;
    line-height: 34px;
    color: #676A6C;
}
