footer {
    display: flex;
    padding: 79px 135px;
    justify-content: space-between;
    margin-top: 15px;
}

.footer-left-logobox {
    display: flex;
    align-items: center;
}

.footer-left-logotext {
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    color: var(--color-primary);
}

.footer-left-text {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    color: var(--color-text);
    width: 150px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer-left-list-contact {
    display: flex;
}

.footer-left-contact {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-text);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.facebook {
    border: 1px solid var(--color-second);
}

.footer-right {
    width: 754px;
    display: flex;
    justify-content: space-between;
}

.footer-right-menu-header {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: var(--size-medium);
}

.footer-right-menu-item {
    font-weight: var(--font-weight-normal);
    font-size: 14px;
    line-height: 34px;
    color: #676A6C;
}