.header {
    padding: 24px 135px 24px 135px;
    display: flex;
    justify-content: space-between;
}

.logo-menu {
    margin-top: 15px;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 72px;
    display: flex;
}

.menu-list {
    display: flex;
}

.menu-item {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    line-height: 16px;
    color: var(--color-menu);
    position: relative;
    padding: 0 18px;
}

.menu-item:hover::after {
    content: "";
    position: absolute;
    left: 19px;
    top: 20px;
    height: 2px;
    width: 10px;
    background-color: var(--color-second);
}