.experience {
    width: 1440px;
    height: auto;
    margin-top: 100px;
    position: relative;
}
.experience-img {
    width: 541px;
    height: 582px;
    margin-left: 121px;
    position: absolute;
}
.experience-ball img {
    margin-top: -72px;
    border-radius: 50% / 43% 43%;
}
.destination {
    position: absolute;
    width: 140px;
    height: 218px;
    background-color: white;
    margin-top: 260px;
    margin-left: 100px;
    text-align: center;
    border-radius: 14px;
}
.destination img {
    margin-top: 20px;
}
.destination-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: #F66f4D;
    margin-top: 15px;
}
.destination-content{
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    margin-top: 15px;
    color: #939597;
}
.customars {
    position: absolute;
    width: 171px;
    height: 92px;
    background-color: white;
    margin-top: 495px;
    margin-left: 450px;
    border-radius: 10px;
    text-align: center;
}
.antenna {
    display: flex;
    align-items: center;
    justify-content: center;
}
.antenna img {
    margin-top: 15px;
}
.customars-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: #2D3134;
}
.customars-content {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #5B5F62;
    margin-top: -10px;
}
.customars img {
    margin-left: -20px;
}
.experience-ball {
    position: absolute;
    width: 490px;
    height: 490px;
    background-color: #FFD482;
    margin-top: 76px;
    margin-left: 25px;
    border-radius: 50%;
}
.experience-content{
    width: 538px;
    height: 514px;
    float: right;
    margin-right: 120px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}
.experience-content .experience-subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #F66f4D;
    margin-bottom: 15px;
    text-align: left;
}
.experience-content h2{
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    color: #2D3134;
    margin-bottom: 15px;
    text-align: left;
}
.experience-content .experience-subcontent {
    width: 450px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5B5F62;
    text-align: left;
}
.list-echievement {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.list-item {
    width: 166px;
    height: 178px;
    background-color: white;
    margin: 0 10px;
    border-radius: 14px;
}
.list-item h6{
    font-weight: 600;
    font-size: 46px;
    line-height: 46px;
    color: #F66f4D;
    margin-top: 25px;
}
.list-item p {
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #939597;
    margin-top: 20px;
    width: 90px;
    margin-left: 30px;
}
