.header {
    position: relative;
    
}
.navbar {
    display: flex;
    height: 102px;
}
.logo {
    position: absolute;
    width: 98px;
    height: 35px;
    top: 33px;
    left: 135px;
    display: flex;
    align-items: center;
}
.logo-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    width: 50px;
    text-align: center;
    color: #2D3134;
}
.menu {
    position: absolute;
    height: 24px;
    width: 447px;
    top: 39px;
    left: 305px;
}
.menu-list{
    text-align: center;
}
.menu-item {
    display: inline;
}
.menu-item a{
    padding: 14px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #2E476B;
}
.menu-item a:hover{
    border-bottom: 1.5px solid #F66F4D;
}
.btn-book-now {
    position: absolute;
    width: 170px;
    height: 54px;
    top: 24px;
    left: 1135px;
    border-radius: 27px;
    border: 1.4px solid #F66F4D;
    color: #F66F4D;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    background-color: #FAF8ED;
    cursor: pointer;
}
.text-lovely-places {
    position: absolute;
    width: 577px;
    height: 460px;
    top: 176px;
    left: 135px;
}
.text-lovely-places h1{
    font-weight: 700;
    font-size: 84px;
    line-height: 86px;
    color: #2D3134;
}
.text-content-lovely-places {
    width: 490px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #5B5F62;
}
.search-box {
    margin-top: 40px;
    width: 500px;
    height: 76px;
    border-radius: 38px;
    background-color: #FDFEFF;
    
}
.location {
    position: absolute;
    width: 137px;
    height: 38px;
    margin-top: 23px;
    left: 30px;
}
.location h6{
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #2D3134;
}
.location p{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}