.btn-book-now {
    position: absolute;
    width: 170px;
    height: 54px;
    top: 24px;
    left: 1135px;
    border-radius: 27px;
    border: 1.4px solid var(--color-second);
    color: var(--color-second);
    font-weight: 500;
    font-size: var(--size-small);
    line-height: 16px;
    align-items: center;
    background-color: var( --color-btn);
    cursor: pointer;
}
.price-box .price-btn {
    margin-left: 130px;
    width: 100px;
    height: 37px;
    border-radius: 46px;
    background-color: var( --color-btn);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    cursor: pointer;
}
.price-box .price-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}
.top-destination-btn {
    margin: 0 4px;
    width: 92px;
    height: 34px;
    border-radius: 30px;
    color: var(--color-primary);
    background-color: var(--color-btn);
    border: 1px solid #3D3D3D;
    font-weight: var(--font-weight-normal);
    font-size: 14px;
    line-height: 14px;
    margin-top: 20px;
    cursor: pointer;
}
.top-destination-btn:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}
.top-destination-img-btn {
    position: absolute;
    width: 42px;
    height: 24px;
    border-radius: 12px;
    background-color: var(--color-light);
    border: 0px;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}
.left-box-card1 {
    margin: 25px;
}
.left-box-card2 {
    margin: 25px;
}
.center-box-card3 {
    margin: 25px;
    color: var(--color-light);
    background-color: var(--color-primary);
}
.right-box-card4 {
    margin: 25px;
    color: var(--color-light);
    background-color: var(--color-primary);
}
.right-box-card5 {
    margin: 25px;
    color: var(--color-light);
    background-color: var(--color-primary);
}
.right-box-card6 {
    margin: 25px;
    color: var(--color-light);
    background-color: var(--color-primary);
}
.header-title-btn {
    border-radius: 50px;
    border: 1px solid var(--color-primary);
    background-color: var( --color-btn);
    width: 54px;
    height: 54px;
    margin: 0 5px;
    font-size: 20px;
    cursor: pointer;
}
.header-title-btn:hover {
    border: none;
    color: var(--color-btn);
    background-color: var(--color-primary);
}
.testimonial-title-btn {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-light);
    cursor: pointer;
    margin: 0 5px;
}
.testimonial-title-btn:hover {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-light);
}