.card-lovely-places {
    position: absolute;
    margin-top: 210px;
    width: 149px;
    height: 160px;
    border-radius: 9.88px;
}

.popular-list-card {
    display: flex;
    margin-top: 35px;
    justify-content: center;
}

.popular-card {
    width: 386px;
    height: 440px;
    border-radius: 16px;
    border: 2px solid var(--color-light);
    text-align: center;
    margin: 0 15px;
}

.left-box-card1 {
    margin: 25px;
}

.left-box-card2 {
    margin: 25px;
}

.center-box-card3 {
    margin: 25px;
    color: var(--color-light);
    background-color: var(--color-primary);
}

.right-box-card4 {
    margin: 25px;
    color: var(--color-light);
    background-color: var(--color-primary);
}

.right-box-card5 {
    margin: 25px;
    color: var(--color-light);
    background-color: var(--color-primary);
}

.right-box-card6 {
    margin: 25px;
    color: var(--color-light);
    background-color: var(--color-primary);
}