.image-young-man {
    position: absolute;
    margin-top: -87px;
    margin-left: 7px;
    border-radius: 50% / 38% 38%;
}

.experience-image-holmes {
    margin-top: -72px;
    border-radius: 50% / 43% 43%;
}

.image-avatar {
    width: 61px;
    height: 61px;
    border: 2.47px;
    margin: 0 -17px;
}

.image-categories {
    width: 170px;
    height: 230px;
    border-radius: 85px;
}

.popular-image {
    width: 362px;
    height: 252px;
    border-radius: 16px;
    margin: 10px 10px;
}

.popular-image-roma {
    width: 362px;
    height: 252px;
    border-radius: 16px;
}