/* mobile-version */
.footer {
    margin-top: 82px;
    background-color: var(--color-sunset-orange);
}

.footer-menu {
    padding-top: 80px;
}

.footer-menu-heading {
    font-size: var(--font-size-small);
    line-height: 24px;
    font-weight: var(--font-weight-bold);
    color: var(--color-while);
}

.footer-menu-listbox {
    margin-top: 24px;
}

.footer-menu-item {
    font-size: var(--font-size-small);
    line-height: 32px;
    font-weight: var(--font-weight-normal);
    color: var(--color-while);
}

.footer-socialbox {
    padding-bottom: 77px;
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
}

.footer-social-list {
    width: 224px;
    display: flex;
    justify-content: space-between;
}

.footer-coppy {
    margin-top: 62px;
}

.footer-coppy-text {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-normal);
    color: var(--color-while);
}

/* tablet-version */
@media (min-width: 768px) {
    .footer {
        margin-top: 160px;
    }

    .footer-menubox {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }

    .footer-socialbox {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-coppy {
        margin: 0;
    }
}

/* desktop-version */
@media (min-width: 1025px) {
    .footer-menubox {
        padding-right: 163px;
    }
}