/* mobile-version */
.header {
    padding: 35px 20px 84.15px 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/images/hero-section/header-image.png);
    background-repeat: no-repeat;
}

.menu-header {
    display: flex;
    justify-content: space-between;
}

.burger {
    margin-top: 4px;
    cursor: pointer;
}

.menu-lists {
    display: none;
    opacity: 5s;
}

.menu-lists-active {
    padding: 5px 10px;
    display: block;
    position: absolute;
    border-radius: var(--boder-radius-to-all);
    backdrop-filter: blur(10px);

}

.menu-item {
    font-size: 0.875rem;
    line-height: 30px;
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
}

.menu-item:hover {
    color: var(--color-second);
}

/* tablet-version */
@media (min-width: 768px) {
    .header {
        padding: 35px 40px 127px 40px;
        background-image: url(../../assets/images/hero-section/header-image.png);
    }

    .menu-header {
        justify-content: flex-end;
        align-items: center;
    }

    .burger {
        display: none;
    }

    .menu-lists {
        margin-right: 40px;
        gap: 40px;
        display: flex;
        position: relative;
    }

    .menu-lists-active {
        background: none;
    }
}

/* desktop-version */
@media (min-width: 1025px) {
    .header {
        padding: 35px 122px 148px 122px;
    }
}