/* mobile-version */
.header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/images/hero-section/header-image.png);
    background-repeat: no-repeat;
}

.menu-header {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
}

.burger {
    margin-top: 4px;
    cursor: pointer;
}

.menu-lists {
    position: absolute;
    transform: translateX(-300px);
}

.menu-lists-active {
    margin-left: -20px;
    border-radius: 10px;
    width: 100%;
    transform: translateX(0);
    transition: 1s ease;
    background-color: var(--color-while);
    text-align: center;
}

.menu-item {
    font-size: var(--font-size-smaller);
    line-height: 50px;
    font-weight: var(--font-weight-bold);
    color: var(--color-black);
}

.menu-item:hover {
    color: var(--color-sunset-orange);
}

/* tablet-version */
@media (min-width: 768px) {
    .header {
        background-image: url(../../assets/images/hero-section/header-image.png);
    }

    .menu-header {
        justify-content: flex-end;
        align-items: center;
    }

    .burger {
        display: none;
    }

    .menu-lists {
        margin-right: 40px;
        gap: 20px;
        display: flex;
        position: relative;
        transform: translateX(0);
    }

    .menu-lists-active {
        background: none;
        transition: 0s ease;
    }
}

/* desktop-version */
@media (min-width: 1025px) {
    .menu-lists {
        gap: 40px;
    }
}