.experience {
    padding: 50px 135px 50px 70px;
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
}

.experience-content {
    margin-top: 60px;
    width: 538px;
}

.experience-subtitle {
    font-weight: var(--font-weight-heading-section);
    font-size: 20px;
    line-height: 20px;
    color: var(--color-second);
    margin-bottom: 20px;
    text-align: left;
}

.experience-content-heading {
    font-weight: var(--font-weight-heading-section);
    font-size: var(--size-large);
    line-height: 66px;
    color: var(--color-primary);
    margin-bottom: 15px;
    text-align: left;
}

.experience-content .experience-subcontent {
    width: 450px;
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    line-height: 26px;
    color: var(--color-text);
    text-align: left;
}

.list-echievement {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.list-item {
    width: 166px;
    height: 178px;
    background-color: var(--color-light);
    border-radius: 14px;
    text-align: center;
}

.list-item-heading {
    font-weight: var(--font-weight-heading-section);
    font-size: 46px;
    line-height: 46px;
    color: var(--color-second);
    margin-top: 25px;
}

.list-item-title {
    margin-top: 18px;
    font-weight: var(--font-weight-normal);
    font-size: 21px;
    line-height: 29px;
    color: #939597;
    width: 90px;
    margin-left: 20px;
}