.experience {
    width: 1440px;
    height: auto;
    margin-top: 100px;
    position: relative;
}

.experience-image {
    width: 541px;
    margin-left: 121px;
    position: absolute;
}

.destination {
    position: absolute;
    width: 140px;
    background-color: var(--color-light);
    margin-top: 260px;
    margin-left: 100px;
    text-align: center;
    border-radius: 14px;
}

.destination-title {
    font-weight: var(--font-weight-heading-section);
    font-size: 30px;
    line-height: 30px;
    color: var(--color-second);
    margin-top: 15px;
}

.destination-content {
    font-weight: var(--font-weight-normal);
    font-size: 19px;
    line-height: 30px;
    margin-top: 15px;
    color: #939597;
}

.customars {
    position: absolute;
    width: 171px;
    height: 92px;
    background-color: var(--color-light);
    margin-top: 495px;
    margin-left: 450px;
    border-radius: 10px;
    text-align: center;
}

.antenna {
    display: flex;
    align-items: center;
    justify-content: center;
}

.customars-title {
    font-weight: var(--font-weight-heading-section);
    font-size: 28px;
    line-height: 30px;
    color: var(--color-primary);
}

.customars-content {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-very-small);
    line-height: 12px;
    color: var(--color-text);
    margin-top: -10px;
}

.customars img {
    margin-left: -20px;
}

.experience-ball {
    position: absolute;
    width: 490px;
    height: 490px;
    background-color: var(--color-ball);
    margin-top: 76px;
    margin-left: 25px;
    border-radius: 50%;
}

.experience-content {
    width: 538px;
    float: right;
    margin-right: 120px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

.experience-content .experience-subtitle {
    font-weight: var(--font-weight-heading-section);
    font-size: 20px;
    line-height: 20px;
    color: var(--color-second);
    margin-bottom: 15px;
    text-align: left;
}

.experience-content-heading {
    font-weight: var(--font-weight-heading-section);
    font-size: var(--size-large);
    line-height: 66px;
    color: var(--color-primary);
    margin-bottom: 15px;
    text-align: left;
}

.experience-content .experience-subcontent {
    width: 450px;
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    line-height: 26px;
    color: var(--color-text);
    text-align: left;
}

.list-echievement {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.list-item {
    width: 166px;
    height: 178px;
    background-color: var(--color-light);
    margin: 0 10px;
    border-radius: 14px;
}

.list-item-heading {
    font-weight: var(--font-weight-heading-section);
    font-size: 46px;
    line-height: 46px;
    color: var(--color-second);
    margin-top: 25px;
}

.list-item-title {
    font-weight: var(--font-weight-normal);
    font-size: 21px;
    line-height: 29px;
    color: #939597;
    margin-top: 20px;
    width: 90px;
    margin-left: 30px;
}