.hero-section {
    display: flex;
    justify-content: space-between;
    padding: 10px 127.25px 53px 135px;
}

.text-lovely-places {
    margin-top: 74px;
    width: 577px;
}

.text-lovely-places-heading {
    font-weight: var(--font-weight-bold);
    font-size: 84px;
    line-height: 86px;
    color: var(--color-primary);
}

.text-content-lovely-places {
    width: 490px;
    margin-top: 26px;
    font-weight: var(--font-weight-normal);
    font-size: var(--size-medium);
    line-height: 28px;
    color: var(--color-text);
}

.search-box {
    margin-top: 44px;
    width: 500px;
    height: 76px;
    border-radius: 38px;
    background-color: #FDFEFF;
    display: flex;
}

.location {
    margin-top: 20px;
    margin-left: 28px;
    width: 137px;
    height: 50px;
    margin-right: 68px;
}

.location-heading {
    font-weight: 500;
    font-size: var(--size-medium);
    line-height: 17px;
    color: var(--color-primary);
}

.location-title {
    font-weight: 400;
    font-size: var(--size-very-small);
    line-height: 12px;
    display: inline;
    color: var(--color-search-box);
}

.stick {
    margin-left: -34px;
    margin-right: 34px;
    margin-top: 14px;
}

.date {
    margin-top: 20px;
    width: 137px;
    height: 50px;
    margin-right: 57px;
}

.date-heading {
    font-weight: 500;
    font-size: var(--size-medium);
    line-height: 17px;
    color: var(--color-primary);
}

.date-title {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-very-small);
    line-height: 12px;
    display: inline;
    color: var(--color-search-box);
}

.rectangle-4403 {
    width: 133.36px;
    height: 145.71px;
    background-color: var(--color-light);
    border-radius: 9.88px;
}

.rectangle-4404 {
    height: 88.91px;
}