.newsletter {
    width: 1440px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletterbox {
    width: 1170px;
    height: 358px;
    background-color: var(--color-ball);
    border-radius: 30px;
    text-align: center;
    align-items: center;
    position: relative;
}

.newsletterbox-line {
    position: absolute;
}

.newsletterbox-heading {
    margin-top: 60px;
    font-weight: var(--font-weight-heading-section);
    font-size: 40px;
    color: var(--color-primary);
    line-height: 40px;
}

.newsletterbox-content {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    color: var(--color-text);
    margin: 25px 380px;
}

.newsletterbox-input-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.newsletterbox-input {
    width: 450px;
    height: 60px;
    border-radius: 12px;
    border: 0px;
    position: absolute;
    font-weight: var(--font-weight-normal);
    font-size: 14px;
    color: var(--color-text);
    padding: 20px;
}

.newsletterbox-input:focus {
    border: none;
    outline: none;
}

.newsletterbox-input-box-sendbox {
    margin-top: 10px;
    margin-left: 33%;
    width: 40px;
    height: 40px;
    z-index: 2;
    background-color: var(--color-second);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.newsletterbox-input-box-send {
    margin: -23px;
}