.popular-destination {
    position: relative;
    margin-top: 150px;
    width: 1440px;
}

.popular-texbox {
    margin-left: 135px;
    display: flex;
}

.popular-title-btnbox {
    margin-left: 660px;
    margin-top: 45px;
}

.popular-texbox .popular-title-heading {
    font-weight: var(--font-weight-heading-section);
    font-size: var(--size-large);
    line-height: 66px;
    color: var(--color-primary);
    width: 400px;
}

.popular-texbox .popular-btn-box {
    margin-left: 50%;
    margin-top: 40px;
}

.popular-image-caption {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: var(--font-weight-heading-section);
    font-size: 24px;
    line-height: 24px;
    color: var(--color-primary);
}

.popular-image-content {
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: var(--font-weight-normal);
    font-size: 14px;
    line-height: 14px;
    color: var(--color-text);
}

.price-box {
    margin-top: 35px;
}

.price-box .price {
    display: inline;
    font-weight: var(--font-weight-heading-section);
    font-size: 24px;
    line-height: 20px;
    color: var(--color-primary);
}

.price-person {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    line-height: 20px;
    color: var(--color-primary);
}