.testimonial {
    display: flex;
    justify-content: space-between;
    padding: 66px 135px 66px 203px;
    margin-top: 37px;
}

.testimonial-contentbox {
    margin-top: 39px;
    width: 537px;
    height: 461px;
}

.testimonial-contentbox-rectangle {
    width: 67px;
    height: 8px;
    border-radius: 4px;
    background-color: #FFD482;
    box-shadow: 0px 2px 6px 0px rgba(229, 137, 24, 0.15);
}

.testimonial-contentbox-heading {
    font-weight: var(--font-weight-heading-section);
    font-size: var(--size-large);
    color: var(--color-primary);
    margin-top: 10px;
}

.testimonial-textbox {
    padding: 32px;
    margin-top: 26px;
    border-radius: 14px;
    background-color: var(--color-light);
}

.testimonial-textbox-text {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-medium);
    color: var(--color-text);
    line-height: 30px;
}

.testimonial-textbox-starrow {
    margin: 25px 0;
}

.testimonial-textbox-name {
    width: 150px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-primary);
}

.testimonial-bottom-container {
    display: flex;
    justify-content: space-between;
}

.testimonial-textbox-subname {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-very-small);
    color: var(--color-text);
}