.top-destination {
    text-align: center;
    padding: 37px 135px;
    align-items: center;
}

.top-destination-heading {
    font-weight: var(--font-weight-heading-section);
    font-size: var(--size-large);
    line-height: 66px;
    color: var(--color-primary);
}

.top-destination-title {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    line-height: 16px;
    color: var(--color-text);
    margin-top: 15px;
}

.top-destination-image-container {
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}

.top-destination-image-left {
    width: 270px;
}

.top-destination-image-left-fcard {
    margin-bottom: 26px;
}

.top-destination-image-center {
    width: 370px;
}

.top-destination-image-right {
    width: 470px;
}

.top-destination-image-right-under-left-ficard {
    width: 170px;
}

.top-destination-image-right-under-right-sicard {
    width: 270px;
}

.top-destination-image-right-under-fisicard {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
}