.top-destination {
    width: 1440px;
    margin-top: 100px;
    text-align: center;
}

.top-destination-text-box .top-destination-heading {
    font-weight: var(--font-weight-heading-section);
    font-size: var(--size-large);
    line-height: 66px;
    color: var(--color-primary);
}

.top-destination-text-box .top-destination-title {
    font-weight: var(--font-weight-normal);
    font-size: var(--size-small);
    line-height: 16px;
    color: var(--color-text);
    margin-top: 15px;
}

.top-destination-image-container {
    justify-content: center;
    display: flex
}

.top-destination-image-left {
    width: 270px;
}

.top-destination-image-left-fcard {
    margin: 22px 0;
}

.top-destination-image-center {
    width: 370px;
    margin: 20px 20px;
}

.top-destination-image-right {
    width: 470px;
    margin-top: 20px;
}

.top-destination-image-right-under-left-ficard {
    width: 170px;
}

.top-destination-image-right-under-right-sicard {
    width: 270px;
}

.top-destination-image-right-top-focard {
    margin-top: 20px;
}

.top-destination-image-right-under-fisicard {
    margin-top: 10px;
    display: flex;
}

.top-destination-image-right-under-right-sicard {
    margin-left: 25px;
}

.top-destination-image {
    background: linear-gradient(180deg, rgba(26, 26, 25, 0) 56.79%, rgba(20, 20, 18, 0.9) 102.85%);
    border-radius: 20px;
}

.top-destination-image-cap {
    position: absolute;
    margin-top: -70px;
    color: var(--color-light);
    margin-left: 25px;
    font-weight: var(--font-weight-heading-section);
    font-size: 20px;
}

.top-destination-image-sup-cap {
    position: absolute;
    margin-top: -40px;
    color: var(--color-light);
    font-weight: var(--font-weight-normal);
    font-size: 14px;
    margin-left: 25px;
}