:root {
    --color-primary: #2D3134;
    --color-second: #F66F4D;
    --color-light: #FFFFFF;
    --color-menu: #2E476B;
    --color-text: #5B5F62;
    --color-search-box: #9498A4;
    --color-ball:#FFD482;
    --color-btn: #FAF8ED;

  
    --size-very-small: 12px;
    --size-small: 16px;
    --size-medium: 18px;
    --size-large: 56px;
  
    --font-weight-normal: 400;
    --font-weight-heading-section: 600;
    --font-weight-bold: 700;
    --font-style-default: normal;
  }